*~
*.o
*.lo
*.la
*.swp
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
/cscope.files
depcomp
install-sh
INSTALL
ABOUT-NLS
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
*.stamp
*.dirstamp
.deps
.libs
autom4te.cache
intltool-*

po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/.intltool-merge-cache
po/Makevars.template
po/*.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot

m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc21.m4
m4/glibc2.m4
m4/gtk-doc.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intldir.m4
m4/intl.m4
m4/intlmacosx.m4
m4/intltool.m4
m4/intmax.m4
m4/inttypes_h.m4
m4/inttypes-pri.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/lt*.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4

test-*.log

/cscope.in.out
/cscope.out
/cscope.po.out

/network-manager-applet-*.tar.*
nm-applet.conf
nm-applet.desktop
nm-connection-editor.desktop
org.gnome.nm-applet.gschema.xml
org.gnome.nm-applet.gschema.valid
org.gnome.nm-connection-editor.appdata.xml
src/connection-editor/nm-connection-editor
src/connection-editor/nm-connection-editor-service-glue.h
src/connection-editor/ce-resources.c
src/connection-editor/ce-resources.h
src/libnma/libnma.pc
src/libnma/libnma-gtk4.pc
src/libnma/NMA-1.0.gir
src/libnma/NMA-1.0.typelib
src/libnma/NMA4-1.0.gir
src/libnma/NMA4-1.0.typelib
src/libnma/nma-resources.c
src/libnma/nma-resources.h
src/libnma/nma-version.h
src/libnma/tests/cert-chooser
src/libnma/tests/cert-chooser-gtk4
src/libnma/tests/mobile-wizard
src/libnma/tests/mobile-wizard-gtk4
src/libnma/tests/run-vpn
src/libnma/tests/run-vpn-gtk4
src/libnma/tests/vpn-password-dialog
src/libnma/tests/vpn-password-dialog-gtk4
src/libnma/tests/wifi-dialog
src/libnma/tests/wifi-dialog-gtk4
src/libnma/tests/wifi-dialog-secrets
src/libnma/tests/wifi-dialog-secrets-gtk4
src/libnm-gtk/libnm-gtk.pc
src/libnm-gtk/NMGtk-1.0.gir
src/libnm-gtk/NMGtk-1.0.typelib
src/libnm-gtk/tests/test-mobile-providers
src/libnm-gtk/nm-resources.c
src/libnm-gtk/nm-resources.h
src/marshallers/nma-marshal.*
src/nm-applet
src/applet-dbus-bindings.h
src/applet-resources.c
src/applet-resources.h
src/tests/ethernet-dialog
man/*.1

/test-driver
**/tests/test-*.log
**/tests/test-*.trs

xml/
html/
gtk-doc.make
libnma-decl-list.txt
libnma-decl.txt
libnma-overrides.txt
libnma-sections.txt
libnma-undeclared.txt
libnma-undocumented.txt
libnma-unused.txt
libnma.args
libnma.hierarchy
libnma.interfaces
libnma.prerequisites
libnma.signals
libnma.types

/.cache
/.vscode


# The following names are no longer present on this branch,
# but they were on older versions. Thus keep ignoring them
# otherwise when switching branches these untracked files show
# up.
src/wireless-security/ws-resources.c
src/wireless-security/ws-resources.h
