*~
*.o
*.lo
*.la
*.swp
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
/cscope.files
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
*.stamp
.deps
.libs
autom4te.cache
intltool-*
po/*.gmo
po/*.pot
po/.intltool-merge-cache
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4

/network-manager-applet-*.tar.*
nm-applet.conf
nm-applet.desktop
nm-connection-editor.desktop
org.gnome.nm-applet.gschema.xml
org.gnome.nm-applet.gschema.valid
org.gnome.nm-connection-editor.appdata.xml
src/connection-editor/nm-connection-editor
src/connection-editor/nm-connection-editor-service-glue.h
src/libnma/libnma.pc
src/libnma/NMA-1.0.gir
src/libnma/NMA-1.0.typelib
src/libnm-gtk/libnm-gtk.pc
src/libnm-gtk/NMGtk-1.0.gir
src/libnm-gtk/NMGtk-1.0.typelib
src/libnm-gtk/tests/test-mobile-providers
src/marshallers/nma-marshal.*
src/nm-applet
src/applet-dbus-bindings.h
man/*.1
