*~
*.o
*.lo
*.la
*.swp
*.bak
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
/cscope.files
depcomp
install-sh
INSTALL
ABOUT-NLS
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
*.stamp
*.dirstamp
.deps
.libs
autom4te.cache
intltool-*

po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/.intltool-merge-cache
po/Makevars.template
po/*.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot

m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc21.m4
m4/glibc2.m4
m4/gtk-doc.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intldir.m4
m4/intl.m4
m4/intlmacosx.m4
m4/intltool.m4
m4/intmax.m4
m4/inttypes_h.m4
m4/inttypes-pri.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/lt*.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4

test-*.log

/cscope.in.out
/cscope.out
/cscope.po.out

/libnma-*.tar.*
src/libnma.pc
src/libnma-gtk4.pc
src/NMA-1.0.gir
src/NMA-1.0.typelib
src/NMA4-1.0.gir
src/NMA4-1.0.typelib
src/nma-resources.c
src/nma-resources.h
src/nma-version.h
src/tests/cert-chooser
src/tests/cert-chooser-gtk4
src/tests/mobile-wizard
src/tests/mobile-wizard-gtk4
src/tests/run-vpn
src/tests/run-vpn-gtk4
src/tests/vpn-password-dialog
src/tests/vpn-password-dialog-gtk4
src/tests/wifi-dialog
src/tests/wifi-dialog-gtk4
src/tests/wifi-dialog-secrets
src/tests/wifi-dialog-secrets-gtk4
src/tests/bar-code
src/tests/bar-code-gtk4
src/wireless-security/ws-resources.c
src/wireless-security/ws-resources.h

/test-driver
**/tests/test-*.log
**/tests/test-*.trs

xml/
html/
gtk-doc.make
libnma-scan.c
libnma-decl-list.txt
libnma-decl.txt
libnma-overrides.txt
libnma-sections.txt
libnma-undeclared.txt
libnma-undocumented.txt
libnma-unused.txt
libnma.args
libnma.hierarchy
libnma.interfaces
libnma.prerequisites
libnma.signals
libnma.types
