# Quick syntax check:
# python -c 'import sys, yaml; yaml.dump (yaml.load (sys.stdin), sys.stdout)' <.gitlab-ci.yml

# If things don't seem to work, this can help:
# https://gitlab.gnome.org/GNOME/network-manager-applet/-/ci/lint

.fedora_minimal: &fedora_minimal
  before_script:
    - dnf -y install
      file
      findutils
      gcc
      libtool
      desktop-file-utils
      gettext-devel
      glib2-devel
      gtk3-devel
      libgudev1-devel
      libnotify-devel
      libsecret-devel
      NetworkManager-libnm-devel
      pkgconfig
      /usr/bin/autopoint
    - dnf -y install --releasever=31
      libnma-devel

.fedora_full: &fedora_full
  before_script:
    - dnf -y install
      file
      findutils
      gcc
      libtool
      desktop-file-utils
      gettext-devel
      glib2-devel
      gtk3-devel
      libgudev1-devel
      libnotify-devel
      libsecret-devel
      NetworkManager-libnm-devel
      pkgconfig
      /usr/bin/autopoint
      redhat-rpm-config
      jansson-devel
      ModemManager-glib-devel
      libselinux-devel
    - dnf -y install --releasever=31
      libnma-devel

.dist: &dist
  dependencies:
    - fedora30_dist
  variables:
    GIT_STRATEGY: none

.fedora_meson_minimal: &fedora_meson_minimal
  <<: *fedora_minimal
  <<: *dist
  script:
    - tar xJf network-manager-applet-*.tar.xz
    - dnf -y install meson
    - meson
      -Dwwan=false
      -Dselinux=false
      -Dteam=false
      -Dld_gc=false
      -Dappindicator=no
      -Dmore_asserts=no
      network-manager-applet-*/ build
    - ninja -v -C build
    - ninja -v -C build test
    - ninja -v -C build install
    - ninja -v -C build uninstall

.fedora_meson_full: &fedora_meson_full
  <<: *fedora_full
  <<: *dist
  script:
    - dnf -y install meson
    - tar xJf network-manager-applet-*.tar.xz
    - meson
      -Dwwan=true
      -Dselinux=true
      -Dteam=true
      -Dld_gc=true
      -Dappindicator=no
      -Dmore_asserts=yes
      network-manager-applet-*/ build
    - ninja -v -C build
    - ninja -v -C build test
    - ninja -v -C build install
    - ninja -v -C build uninstall

.fedora_autotools_minimal: &fedora_autotools_minimal
  <<: *fedora_minimal
  <<: *dist
  script:
    - dnf -y install make
    - tar xJf network-manager-applet-*.tar.xz
    - cd network-manager-applet-*/
    - ./configure
      --disable-silent-rules
      --with-more-asserts=no
      --disable-nls
      --disable-schemas-compile
      --disable-more-warnings
      --without-appindicator
      --without-wwan
      --without-selinux
      --without-team
    - make -j$(nproc)
    - make -j$(nproc) check
    - make -j$(nproc) install
    - make -j$(nproc) uninstall

.fedora_autotools_full: &fedora_autotools_full
  <<: *fedora_full
  <<: *dist
  script:
    - dnf -y install make
    - tar xJf network-manager-applet-*.tar.xz
    - cd network-manager-applet-*/
    - ./configure
      --disable-silent-rules
      --with-more-asserts=yes
      --enable-nls
      --enable-schemas-compile
      --enable-more-warnings
      --with-wwan
      --with-selinux
      --with-team
    - make -j$(nproc)
    - make -j$(nproc) check
    - make -j$(nproc) install
    - make -j$(nproc) uninstall

fedora30_dist:
  <<: *fedora_full
  image: fedora:30
  stage: build
  script:
    - dnf -y install
      autoconf automake make
    - sh autogen.sh
    - make -j$(nproc) distcheck
  artifacts:
    paths:
      - "*.xz"

fedora_meson_minimal:
  <<: *fedora_meson_minimal
  image: fedora:latest
  stage: test

fedora_meson_full:
  <<: *fedora_meson_full
  image: fedora:latest
  stage: test

fedora_autotools_minimal:
  <<: *fedora_autotools_minimal
  image: fedora:latest
  stage: test

fedora_autotools_full:
  <<: *fedora_autotools_full
  image: fedora:latest
  stage: test

centos7:
  <<: *dist
  before_script:
    - yum -y install
      file
      findutils
      gcc
      libtool
      desktop-file-utils
      gettext-devel
      glib2-devel
      gtk3-devel
      intltool
      libgudev1-devel
      libnotify-devel
      libsecret-devel
      NetworkManager-libnm-devel
      pkgconfig
      /usr/bin/autopoint
      redhat-rpm-config
      jansson-devel
      ModemManager-glib-devel
      libselinux-devel
      make
  script:
    - tar xJf network-manager-applet-*.tar.xz
    - cd network-manager-applet-*/
    - ./configure
      --disable-silent-rules
      --with-more-asserts=yes
      --enable-nls
      --enable-schemas-compile
      --enable-more-warnings
      --with-wwan
      --with-selinux
      --with-team
    - make -j$(nproc)
    - make -j$(nproc) check
    - make -j$(nproc) install
    - make -j$(nproc) uninstall
  image: centos:7
  stage: test
