[Desktop Entry]
Encoding=UTF-8
Name=Network Manager Editor
Comment=Edits the wireless networks used in Network Manager
Icon=nm-device-wireless
Exec=nm-editor
Terminal=false
Type=Application
Categories=System;SystemSetup;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=general
